{% extends "bootstrap/base.html" %}
{% block title %}Worker{% endblock %}
{% block head %}
{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/worker.css') }}">
    <style>
    .table td, .table th {
        font-size: 20px;
        text-align: center;
    }
    .content-container {
    max-width: 60rem;
    padding: 5rem 1rem;
    margin-left:  auto;
    margin-right: auto;
    }
    </style>
{% endblock %}
{% endblock %}
{% block body %}
{% block content %}
    <div class="content-container">
    <h1 style="color:#424949">Unloading Worker</h1>
        <br>
        <br>
        <div class="table-sm">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" style="width: 20%">Address</th>
                <th scope="col" style="width: 20%; color:#F4511E;">Red</th>
                <th scope="col" style="width: 20%; color:#2ECC71;">Green</th>
                <th scope="col" style="width: 20%; color:#03A9F4;">Blue</th>
                <th style="width: 20%"><a href="/unloading"><button class="btn btn-danger btn-lg float-right">Refresh</button></a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ current_order['address'] }}</td>
                <td>{{ current_order['item']['r'] }}</td>
                <td>{{ current_order['item']['g'] }}</td>
                <td>{{ current_order['item']['b'] }}</td>
                <td>
                    {% if complete != 1 %}
                        <form method="POST">
                        <button class="btn btn-warning btn-lg" name="confirm" id="confirmButton" type="submit">Confirm</button>
                        </form>
                    {% else %}
                        <form method="GET">
                            Complete
                        </form>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <br>

    <h2 style="color:#424949">Upcoming orders</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" style="width: 20%">Address</th>
                <th scope="col" style="width: 20%; color:#F4511E;">Red</th>
                <th scope="col" style="width: 20%; color:#2ECC71;">Green</th>
                <th scope="col" style="width: 20%; color:#03A9F4;">Blue</th>
                <th style="width: 20%">
                    {% if complete != -1 %}
                        <form method="POST">
                        <button class="btn btn-primary btn-lg" name="skip" id="skipButton" type="submit">Skip</button>
                        </form>
                    {% else %}
                        <form method="GET">
                            Message Sent
                        </form>
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
        {% if n_upcoming > 0 %}
            {% for order in upcoming %}
            <tr>
                <td>{{ order['address'] }}</td>
                <td>{{ order['item']['r'] }}</td>
                <td>{{ order['item']['g'] }}</td>
                <td>{{ order['item']['b'] }}</td>
                <td></td>
            </tr>
            {% endfor %}
        {% else %}
            <script>
                autoclick();
            </script>
        {% endif %}
        </tbody>
    </table>
    </div>
{% endblock %}
    {% block scripts %}
        <script language = "javascript">
        var tmp;
        function autoclick() {
            tmp = setTimeout("confirm()", 3000);
        }
        function confirm() {
            document.getElementById("confirmButton").click();
        }
        </script>
    {% endblock %}
{% endblock %}