{% extends "bootstrap/base.html" %}
{% block title %}Worker{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/worker.css') }}">
    <style>
    .table td, .table th {
        font-size: 20px;
        text-align: center;
    }
    .content-container {
    max-width: 60rem;
    padding: 5rem 1rem;
    margin-left:  auto;
    margin-right: auto;
    }
    </style>
{% endblock %}
{% block content %}
    <h1 style="color:#424949";">Unloading Worker</h1>
    <br>
    <h2><b>Order ID</b> {{order_id}}   <b>Address</b> {{address}}</h2>
    <br>
    <h2>Unloading Complete!</h2>
    <br>
    <br>
    <form action="/unloading">
        <button class="btn btn-info btn-lg" type="submit">Back</button>
    </form>
{% endblock %}